# Core Python libraries
python-dotenv==1.1.1
pandas==2.3.1
numpy==2.3.1
seaborn==0.13.2
plotly==6.2.0

# AWS Integration
boto3==1.39.4
awscli==1.41.4
redshift-connector==2.1.8
s3fs==2025.5.1

# dbt Integration
dbt-core==1.10.4
dbt-redshift==1.9.5

# Data Processing
fsspec==2025.5.1
idna==3.10
jmespath==1.0.1
lxml==5.4.0

## JupyterLab notebooks
jupyterlab==4.4.3
rpy2==3.6.1